<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.springcloud.cloudproviderpayment8001.mapper.UserMapper">

    <select id="selectAllPage" resultType="com.hao.cloudapicommons.bean.User">
        select u.*,a.`level` FROM `user` u LEFT JOIN area a ON u.guid = a.`name` ${ew.customSqlSegment}
    </select>


    <select id="selectAllPage2" resultType="com.hao.cloudapicommons.bean.User" >
        select u.*,a.`level` FROM `user` u LEFT JOIN area a ON u.guid = a.`name`
        WHERE 1=1
        <if test="roles != null">
            AND  roles LIKE concat('%',#{roles},'%')
        </if>
        <if test="guid != null">
            AND  guid LIKE concat('%',#{guid},'%')
        </if>

    </select>




</mapper>
